<div class="container">
  <div class="d-flex padding-vertical-large justify-content-center align-items-start">
    <span class="header">newsfeed</span>
    <span class="dot"></span>
  </div>
  <h2 class="title">Lorem ipsum</h2>
  <app-endless-scroll-view></app-endless-scroll-view>
</div>
<div class="row justify-content-center" *ngIf="isFlutterAppVisible">
  <div class="iframe-overlay background"></div>
  <iframe id="iframe" class="iframe-overlay padding-top-50" src="../web/index.html"
    >Your browser doesn't support iframes</iframe
  >
</div>
