<div class="bubble">
  <div class="row align-items-center">
    <div class="col">
      <div class="d-flex">
        <div class="square"></div>
        <div>Lorem</div>
      </div>
      <div class="title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum
      </div>
      <div class="date">3 hours ago</div>
    </div>
    <div class="col-min image-wrapper">
      <img [src]="image" />
    </div>
  </div>
</div>
