name: Android CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - .github/workflows/android_workflow.yaml
      - newsfeed_android/**

# Declare default permissions as read only.
permissions: read-all

defaults:
  run:
    working-directory: ./newsfeed_android
jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    name: build / ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
      - uses: subosito/flutter-action@48cafc24713cca54bbe03cdc3a423187d413aafa
        with:
          channel: "stable"
      - run: flutter --version

      - name: Build Flutter AAR file
        working-directory: flutter_nps
        run: flutter build aar

      - name: Set up JDK
        uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Change wrapper permissions
        working-directory: ./newsfeed_android
        run: chmod +x ./gradlew

      - name: Android linter
        run: ./gradlew lint
        continue-on-error: false

      - name: Run Checkstyle
        uses: dbelyaev/action-checkstyle@bad4435b4fbd040a98fb9b7c6b610cb6460e5902
        if: matrix.platform == 'ubuntu-latest'
        with:
          github_token: ${{ secrets.github_token }}

      - name: Build with Gradle
        run: ./gradlew build

      - name: Run Android Unit Test
        run: ./gradlew testDebugUnitTest

      - name: Run Android Instrumented tests
        if: matrix.platform == 'macos-latest'
        uses: reactivecircus/android-emulator-runner@d94c3fbe4fe6a29e4a5ba47c12fb47677c73656b
        with:
          working-directory: ./newsfeed_android
          api-level: 29
          script: ./gradlew connectedCheck
