name: Archive

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    runs-on: macos-latest
    name: build
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - uses: subosito/flutter-action@dbf1fa04f4d2e52c33185153d06cdb5443aa189d
        with:
          channel: "stable"
      - run: flutter --version

      - name: Set up JDK
        uses: actions/setup-java@1df8dbefe2a8cbc99770194893dd902763bee34b
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Build Flutter AAR file
        working-directory: flutter_nps
        run: flutter build aar

      - name: Create Flutter AAR artifact
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
        with:
          name: flutter-aar
          path: flutter_nps/build/host/outputs/repo

      - name: Convert module to app for web
        working-directory: flutter_nps
        run: |
          perl -i -pe's/module/app/g' .metadata
          flutter create . --platforms web --org com.example.flutter_nps
          rm test/widget_test.dart
          flutter build web
          perl -i -pe's/<base href=\"\/\"/<base href=\"\.\/\"/g' index.html

      - name: Create Flutter web project artifact
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
        with:
          name: flutter-web-project
          path: flutter_nps/build/web

      - name: Build Flutter Module for IOS
        working-directory: flutter_nps
        run: flutter build ios-framework

      - name: Create Flutter Framework artifact
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
        with:
          name: flutter-framework
          path: flutter_nps/build/ios/framework

      - name: Create Flutter pod helper artifact
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
        with:
          name: ios-podhelper
          path: flutter_nps/.ios/Flutter
