name: Archive

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    runs-on: macos-latest
    name: build
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: subosito/flutter-action@1e6ee87cb840500837bcd50a667fb28815d8e310
        with:
          channel: "stable"
      - run: flutter --version

      - name: Set up JDK
        uses: actions/setup-java@a18c333f3f14249953dab3e186e5e21bf3390f1d
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Build Flutter AAR file
        working-directory: flutter_nps
        run: flutter build aar

      - name: Create Flutter AAR artifact
        uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
        with:
          name: flutter-aar
          path: flutter_nps/build/host/outputs/repo

      - name: Convert module to app for web
        working-directory: flutter_nps
        run: |
          perl -i -pe's/module/app/g' .metadata
          flutter create . --platforms web --org com.example.flutter_nps
          rm test/widget_test.dart
          flutter build web
          perl -i -pe's/<base href=\"\/\"/<base href=\"\.\/\"/g' index.html

      - name: Create Flutter web project artifact
        uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
        with:
          name: flutter-web-project
          path: flutter_nps/build/web

      - name: Build Flutter Module for IOS
        working-directory: flutter_nps
        run: flutter build ios-framework

      - name: Create Flutter Framework artifact
        uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
        with:
          name: flutter-framework
          path: flutter_nps/build/ios/framework

      - name: Create Flutter pod helper artifact
        uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
        with:
          name: ios-podhelper
          path: flutter_nps/.ios/Flutter
